/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

/* General Styles */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    max-width: 100%;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    background-color: #fbfffb;
    line-height: 1.5;
    color: black;
    font-family: 'Roboto', sans-serif;
}

html, body {
    height: 100%;
}

a {
    color: black;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

h1, h2, h3, h4, h5 {
    font-size: 1.8rem;
    color: black;
    margin-bottom: 2.5%;
    font-family: 'Rubik', sans-serif;
}

p {
    line-height: 1.4;
}

section {
    padding: 4% 0;
}

/* Header Section Styles */
nav {
    width: 100%;
    margin-top: 2%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.logo {
    width: 18%;
}

.links {
    width: 48%;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

.links a {
    font-size: 1.4rem;
    padding-bottom: 1%;
}

/* Banner Section Styles */
.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2%;
    padding-bottom: 0;
}

.banner-img {
    display:flex;
    justify-content: center;
    height: 25.55vh;
}

/* top content styles section */
.container {
    width: 100%;
    padding: 0 17%;
}

.top-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-bottom: 1px dashed black;
    padding-top: 2%;
    padding-bottom: 2%;
}

.top-content .text-container {
    width: 49%;
    padding: 0 1%;
}

/* middle content style section */
.middle-content {
    margin-bottom: 2%;
    border-bottom: 1px dashed black;
    padding-top: 2%;
    padding-bottom: 0;
}

.middle-content h2 {
    padding: 0 2%;
    margin-bottom: 0;
}

.boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.boxes .box {
    width: 12.5%;
    height: 10rem;
    margin: 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box1 {
    background: teal;
}

.box2 {
    background: gold;
}

.box3 {
    background: cadetblue;
}

.box4 {
    background: coral;
}

.box5 {
    background: crimson;
}

.box6 {
    background: forestgreen;
}

.box7 {
    background: darkorchid;
}

.box8 {
    background: hotpink;
}

.box9 {
    background: indigo;
}

.box10 {
    background: dodgerblue;
}

.bottom-content {
    display: flex;
    padding: 0;
    margin: 0 2% 2%;
    justify-content: space-around;
}

.bottom-content .text-container {
    padding-right: 10%;
}

.bottom-content .text-container:last-child {
    padding-right: 0;
}

/* footer section styles */
footer {
    width: 100%;
    background: black;
}

footer nav {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0;
    font-size: 1.4rem;
}

footer nav a {
    color: white;
    padding: 4%;
    border: 1px solid black;
    background-color: black;
    text-decoration: none;
}

/* additional styles below for about page */

/* top content styles selection */
.top-content .container-about {
    width: 100%;
    padding: 0 2%;
}

/* middle about section styles */
.container-about-page {
    width: 100%;
    padding: 0 17%;
}

.middle-about {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 2%;
    padding-bottom: 0;
}

.details-about {
    width: 100%;
    padding: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.what-about {
    margin-bottom: 5%;
    padding-bottom: 2%;
    width: 50%;
    border-bottom: 1px dashed black;
}

.what-about img {
    width: 95%;
}

.what-about h2 {
    padding-top: 1%;
    padding-bottom: 1%;
    margin-bottom: 1%;
}

.what-about p{
    padding-top: 1%;
    padding-bottom: 1%;
    margin-bottom: 5%;
    width: 90%;
}

.what-about a {
    padding: 2% 4%;
    border-radius: 8px;
    background-color: #fbfffb;
    border: 2px solid black;
}

/* bottom about section styles */
.bottom-content .container-about {
    width: 100%;
    padding: 1%;
}